streamlit==1.31.0
langchain==0.3.13
langchain-community==0.3.13
langchain-groq==0.2.1
langchain-pinecone==0.2.13
pinecone==6.0.0
sentence-transformers==2.3.1
pypdf==4.0.1
python-dotenv==1.0.1
beautifulsoup4==4.12.3
